html, body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.leftBar{
    display: flex;
    width: 90vw;
    height: 100%;
}

.rightBar{
    display: flex;
    width: 10vw;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
}